body {
    font-family: 'Palatino Linotype',sans-serif !important;
	display: grid;
	grid-template-areas: "headerSection"
						"contentSection"
						"footerSection";
	grid-template-columns: 1fr;
	grid-template-rows: 70px 1fr 40px;
	margin: 0 10px 0 10px;
	height: 95%;
}

solirom-header {
	grid-area: headerSection;
	--bg-color: #445588;
	--text-color: #ffcc00;
}

#content-container {
	grid-area: contentSection;
}

solirom-footer {
	grid-area: footerSection;
}

/* === */

solirom-vertical-menu {
	grid-area: verticalMenu;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 	
}

#main-content {
	grid-area: content;
	overflow-x: hidden;
	height: 600px;  
	display: grid; 
	grid-template-areas:
		/*"editions jsonIndexSearch" 40px*/
		"fstIndexSearch jsonIndexSearch"
		"mainContentToolbar jsonIndexSearch"
		"searchResult jsonIndexSearch";
	grid-template-columns: 1fr 300px;
	grid-template-rows: 100px 20px 1fr;							
}

#secondary-content {
	grid-area: content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
	height: 600px;
	overflow-x: scroll;
	display: none;
}

#secondary-content article {
    width: 100%;
    height: 100%;
}

solirom-editions {
	grid-area: editions;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;   
}

#main-content-toolbar {
	grid-area: mainContentToolbar;
	visibility: hidden;
}

sc-search-result {
	grid-area: searchResult;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;   
	display: none; 
}

sc-dictionary-entry {
	grid-area: searchResult;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;   
	display: none; 
}

sc-fst-index-search {
	grid-area: fstIndexSearch;
	position: relative;	
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
	margin: auto;	
}

sc-json-index-search {
	grid-area: jsonIndexSearch;
}

/* Large desktop */
@media (min-width: 1200px) {
	#content-container {
		display: grid;
		grid-template-areas: "verticalMenu content"
							"verticalMenu content";
		grid-template-columns: 200px 1fr;/*300px*/
		grid-template-rows: 1fr;/*50px*/				
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#content-container {
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 
			"searchResult search"
			"searchResult article";
		grid-gap: 10px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#content-container {
		display: grid;
		grid-template-columns: 1;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: "search" "searchResult" "article";
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	#content-container {
		display: grid;
		grid-template-columns: 1;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: "search" "searchResult" "article";
	}
}
